<kirby-page title="Hello, world. This is Kirby" [titleMaxLines]="1" >
  <kirby-page-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam deserunt dolore error esse
      laborum magni natus nihil optio perferendis placeat, quae sed, sequi sunt totam voluptatem! Dicta,
      quaerat!</p>
    <p>Aut, dignissimos dolorum ducimus et rem reprehenderit rerum sunt ut! Ad aliquid beatae cum esse et eveniet
      facere natus numquam obcaecati qui quia quisquam quo repellat repudiandae sit, soluta voluptatibus!</p>
    <p>Aspernatur dolore enim incidunt libero molestiae nostrum quasi? Accusamus aut culpa dolores doloribus laborum
      nesciunt voluptates! Consectetur cumque doloremque eius esse et excepturi hic, inventore mollitia nisi,
      reiciendis, tempora unde!</p>
    <p>Blanditiis, cupiditate distinctio earum illo impedit laborum velit veritatis. Accusamus adipisci alias
      aperiam, assumenda corporis culpa cum debitis exercitationem impedit laborum possimus quam qui repellat,
      saepe similique sint soluta. Unde.</p>
    <p>Aut eligendi excepturi magni nulla quo reprehenderit tempora tempore voluptates! Aliquid deserunt
      exercitationem nulla praesentium reiciendis, veniam voluptatem voluptatibus. Aut consectetur dignissimos
      dolor ex maiores nostrum numquam ratione sint voluptates.</p>
    <p>Amet, deleniti in ipsam molestias nihil porro rerum! Consectetur, culpa dolor dolore in maiores officiis
      reiciendis repellendus voluptates! Aliquam at debitis dolorum facilis harum libero optio pariatur placeat
      reiciendis soluta!</p>
  </kirby-page-content>
</kirby-page>